.zeroth {
	height: 75px;
}

main {
	width: 100%;
	height: 500px;
	border: 5px solid black;
}

.first {

	height: 200px;
}

div {
	
}

.question{
	padding:20px;
	width: 100%;
}

.col {
	height: 100%;
}

table {
	width: 100%;
	text-align:center;
}

th {
	font-size: 15px;
	font-weight:bolder;
	margin-top: 25px;
}

.scoreboard {
	height: 60%;
}
